{% extends "smart_rm/base.html" %}
{% block content %}
<style>
    .regex-class{
        height:500px;
    }
</style>
<div class="regex-class">
        <form method="post" action="" class="form-inline text-center "> {% csrf_token %}
            <div class="container">
                <div class="form-group">
                    {{form.as_p}}
                    <button class="btn bg-primary" type="submit"> Add a task </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
