{% extends "smart_rm/base.html" %}

{% block content %}

        <button class="btn bg-primary" id="delete_button">Delete!</button>
        <button class="btn btn-danger" id="delete_all_button">Delete all!</button>
        <button class="btn btn-primary" id="recover_button">Recover!</button>
        <button class="btn btn-danger" id="recover_all_button">Recover all!</button>
    <p></p>
<table class="table table-striped">
    <thead>
      <tr>
          <th></th>
          <th>Name</th>
          <th>Hash</th>
          <th>Path</th>
          <th>Type</th>
          <th>Size</th>
      </tr>
    </thead>
        <tbody>
    {% for file in arr_json_files %}
    <tr>
        <td>
        <input class="Checkbox" type="checkbox" id="{{file.hash}}" value="{{file.name}}">
        </td>
        <td>{{file.name}}</td>
        <td>{{file.hash}}</td>
        <td>{{file.path}}</td>
        <td>{{file.type}}</td>
        <td>{{file.size}} Bytes</td>
    </tr>
    {% endfor %}
        </tbody>
</table>
<script>
$('#delete_button').on('click', function (event) {
    var array_of_hashes = [];
    var array_of_names = [];
    var data = $('.Checkbox:checked').each(function(){
        array_of_hashes.push($(this).attr('id'));
        array_of_names.push($(this).val())
    });
    console.log(array_of_names, array_of_hashes);
    $.post('remove_from_trash', {hashes : array_of_hashes, names : array_of_names});
});

$('#delete_all_button').on('click', function (event) {
    var array_of_hashes = [];
    var array_of_names = [];
    var data = $('.Checkbox').each(function(){
        array_of_hashes.push($(this).attr('id'));
        array_of_names.push($(this).val())
    });
    console.log(array_of_hashes);
    $.post('remove_from_trash', {hashes : array_of_hashes, names : array_of_names});
});

$('#recover_all_button').on('click', function (event) {
    var array_of_hashes = [];
    var array_of_names = [];
    var data = $('.Checkbox').each(function(){
        array_of_hashes.push($(this).attr('id'));
        array_of_names.push($(this).val())
    });
    console.log(array_of_names, array_of_hashes);
    $.post('recover_from_trash', {hashes : array_of_hashes, names : array_of_names});
});

$('#recover_button').on('click', function (event) {
    var array_of_hashes = [];
    var array_of_names = [];
    var data = $('.Checkbox:checked').each(function(){
        array_of_hashes.push($(this).attr('id'));
        array_of_names.push($(this).val())
    });
    console.log(array_of_hashes);
    $.post('recover_from_trash', {hashes : array_of_hashes, names : array_of_names});
});

</script><script src="../../static/css/dist/jstree.min.js"></script>
{% endblock %}