{% extends "smart_rm/base.html" %}

{% block content %}
<table class="table table-striped">
    <thead>
      <tr>
          <th>Regular Expression</th>
          <th>Start directory</th>
          <th>Trash bin</th>
          <th>Execute!</th>
          <th>Delete!</th>
      </tr>
    </thead>
        <tbody>
        {% for reg_task in regular_tasks%}
        <tr>
            <td>{{reg_task.regular_expression}}</td>
            <td>{{reg_task.start_folder}}</td>
            <td>{{reg_task.current_trash_bin}}</td>
            <td>
                <button class="btn btn-primary" id="execute-{{reg_task.id}}">Execute!</button>
            </td>
            <td>
                <button class="btn btn-danger" id="delete-{{reg_task.id}}">Cancel!</button>
            </td>
        </tr>

    <script>
    $("#execute-{{reg_task.id}}").on('click', function (event) {
        var current_trash =  '{{reg_task.current_trash_bin}}';
        event.preventDefault();
        var data = {
            trash : current_trash,
            start_folder : '{{reg_task.start_folder}}',
            task_id : '{{reg_task.id}}',
            pattern : '{{reg_task.regular_expression}}'
        };
        console.log(data);
                $.post('execute_regular_task', data);
            });

    $("#delete-{{reg_task.id}}").on('click', function (event) {
        event.preventDefault();
                $.post('delete_regular_task', {task_id : '{{reg_task.id}}'});
            });

    </script><script src="../../static/css/dist/jstree.min.js"></script>
{% endfor %}

        </tbody>
</table>
<table class="table table-striped">
    <thead>
      <tr>
          <th>Files</th>
          <th>Trash bin</th>
          <th>Name of operation</th>
          <th>Execute!</th>
          <th>Delete!</th>
      </tr>
    </thead>
        <tbody>
{% for task in tasks_list%}
<tr>
            <td>{{task.files}}</td>
            <td>{{task.current_trash_bin}}</td>
            <td>{{task.name_of_operation}}</td>
            <td>
                <button class="btn btn-primary" id="execute-{{task.id}}">Execute!</button>
            </td>
            <td>
                <button class="btn btn-danger" id="delete-{{task.id}}">Cancel!</button>
            </td>
        </tr>
<script>
$("#execute-{{task.id}}").on('click', function (event) {
    var current_trash =  '{{task.current_trash_bin}}';
    event.preventDefault();
    var data = {
        trash : current_trash,
        files : '{{task.files}}',
        task_id : '{{task.id}}',
        operation : '{{task.name_of_operation}}',
        hashes : '{{task.hashes}}'
    };
    console.log(data);
            $.post('execute_task', data);
        });

$("#delete-{{task.id}}").on('click', function (event) {
    event.preventDefault();
            $.post('delete_task', {task_id : '{{task.id}}'});
        });

</script><script src="../../static/css/dist/jstree.min.js"></script>
{% endfor %}
        </tbody>
</table>

{% endblock %}
